body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


/* First section */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    color: white;
    padding: 0px 200px;
}

.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.heroContainer {
    display: flex;
    justify-content: center;
    gap: 52px;
    max-height: 400px;
    margin: 100px 0px;
}

.heroBanner {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.signUpButton1 {
    width: 200px;
}

.heroTitle {
    font-size: 48px;
    font-weight: 800;
}

.headerLogo {
    font-size: 32px;
}

.placeHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 480px;
    background-color: tomato;
}

.placeHolderDog {
    display: block;
    height: auto;
    width: auto;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}


/* Second section */

.randomInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 200px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.randomTitle {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 50px;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

.items {
    max-width: 150px;
    align-content: center;
}

.item {
    height: 150px;
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 5px;
}


/*Third section */

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 100px 400px;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    align-items: center;
}

.quotee {
    display: flex;
    justify-content: flex-end;
}


/*Fourth section */

.signUps {
    display: flex;
    justify-content: center;
    padding: 100px 200px;
    color: white;
    font-size: 24px;
}

.signUpBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    width: 1000px;
    height: 100px;
    border-radius: 8px;
    padding: 20px 100px;
    gap: 52px;
}

.signUpButton2 {
    flex-shrink: 0;
    border-style: solid;
    border-color: white;
}

.signUpText {
    flex: 1;
}

.callToAction {
    font-size: 32px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/*Universal*/

button {
    font-size: 18px;
    color: white;
    font-weight: 700;
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    border-style: none;
}